/* Imports -- START */
/* Imports -- START */
/* Imports -- START */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

/* Imports -- END */
/* Imports -- END */
/* Imports -- END */

/* Vars -- START */
/* Vars -- START */
/* Vars -- START */

:root {
    --white: rgb(244,244,244);
    --hover-white: rgb(220, 220, 220);
    --gray: rgb(51, 51, 51);
    --font-black: rgb(0, 17, 50);
    --font-black: rgb(40, 30, 80);
    --default-blue: rgb(51, 104, 240);
    --hover-blue: rgb(7, 71, 166);
}

/* Vars -- END */
/* Vars -- END */
/* Vars -- END */

/* Body -- START */
/* Body -- START */
/* Body -- START */

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Kulim Park', Roboto, 'Helvetica Neue', sans-serif;
}

/* Body -- START */
/* Body -- START */
/* Body -- START */

/* Spacing -- START */
/* Spacing -- START */
/* Spacing -- START */

/* Margin */

.margin-left-sm {
    margin-left: 5px;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-left-mdl {
    margin-left: 10px;
}

.margin-top-mdl {
    margin-top: 10px;
}

.margin-right-mdl {
    margin-right: 10px;
}

.margin-bottom-mdl {
    margin-bottom: 10px;
}

.margin-left-lg {
    margin-left: 25px;
}

.margin-top-lg {
    margin-top: 25px;
}

.margin-right-lg {
    margin-right: 25px;
}

.margin-bottom-lg {
    margin-bottom: 25px;
}

/* Padding */

.padding-left-sm {
    padding-left: 5px;
}

.padding-top-sm {
    padding-top: 5px;
}

.padding-right-sm {
    padding-right: 5px;
}

.padding-bottom-sm {
    padding-bottom: 5px;
}

.padding-left-mdl {
    padding-left: 10px;
}

.padding-top-mdl {
    padding-top: 10px;
}

.padding-right-mdl {
    padding-right: 10px;
}

.padding-bottom-mdl {
    padding-bottom: 10px;
}

.padding-left-lg {
    padding-left: 15px;
}

.padding-top-lg {
    padding-top: 15px;
}

.padding-right-lg {
    padding-right: 15px;
}

.padding-bottom-lg {
    padding-bottom: 15px;
}

/* Spacing -- START */
/* Spacing -- START */
/* Spacing -- START */

/* Text -- START */
/* Text -- START */
/* Text -- START */

.text-bold-blue {
    color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}

/* Text -- START */
/* Text -- START */
/* Text -- START */

/* Nav -- START */
/* Nav -- START */
/* Nav -- START */

.navbar-brand {
    color: var(--default-blue);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase; 
}

.navbar-brand:hover {
    color: var(--hover-blue);
}

.navbar-toggler{
    width: 50px;
    height: 40px;
    background-color: transparent;
  
    border: none;
  
    padding-top: 10px;
}
  
.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus { 
    outline: none; 
    border-style: none; 
}
  
.navbar-toggler .line{
    width: 25px;
    float: left;
    height: 2px;
    background-color: var(--default-blue);
    margin-bottom: 5px;
  
    transition: all .3s ease-in-out;
}
  
.navbar-toggle .line-top {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
  
.navbar-toggle .line-middle {
    opacity: 0;
}
  
.navbar-toggle .line-bottom {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
  
.navbar-toggle.collapsed .line-top {
    transform: rotate(0);
}
  
.navbar-toggle.collapsed .line-middle {
    opacity: 1;
}
  
.navbar-toggle.collapsed .line-bottom {
    transform: rotate(0);
}

.nav-btn-custom {
    color: var(--white);
    background-color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}

.nav-btn-custom:active {
    background-color: var(--hover-blue);
}

.nav-btn-custom:hover {
    background-color: var(--hover-blue);
}

.nav-btn-custom:focus {
    background-color: var(--hover-blue);
}

/* Nav -- END */
/* Nav -- END */
/* Nav -- END */

/* Dropdown -- Start */
/* Dropdown -- Start */
/* Dropdown -- Start */

.dropdown-toggle-hide:after { 
    content: none 
}

.dropdown-menu-signin {
    width: 500px;
}

.dropdown-tab-icon {
    width: 35px;
    height: 35px;
    background-color: var(--default-blue);
    color: var(--white);

    border-radius: 100px;

    margin-left: 50px;
    margin-top: 25px;
}

.dropdown-tab-icon > i {
    margin-top: 9px;
    margin-left: 11.5px;
}

.dropdown-tab-text {
    width: 65%;
}

.dropdown-underlined-text {
    color: var(--default-blue);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 

    margin-top: 25px;
    margin-left: 10px;
}

.dropdown-underline {
    height: 3px;
    background-color: var(--default-blue);

    margin-left: 10px;
    margin-top: 2px;
}

.dropdown-content {
    width: 65%;
    margin-left: 95px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.dropdown-content > p {
    color: rgb(30, 30, 30);
}

.dropdown-btn-custom {
    color: var(--white);
    background-color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-color: var(--default-blue);
}

.dropdown-btn-custom:active {
    background-color: var(--hover-blue);
}

.dropdown-btn-custom:hover {
    background-color: var(--hover-blue);
}

.dropdown-btn-custom:focus {
    background-color: var(--hover-blue);
}

@media only screen and (max-width: 1200px) {
    .dropdown-menu-signin {
        width: 102%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .dropdown-underline {
        width: 80%;
    }

    .dropdown-content > p {
        width: 80%;
    }
}

/* Dropdown -- END */
/* Dropdown -- END */
/* Dropdown -- END */

/* Form -- Start */
/* Form -- Start */
/* Form -- Start */

.form-group {
    width: 100%;
    position: relative;
    padding: 15px 0 0;
    margin-top: -10px;
}
  
.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.form-field::placeholder {
    color: transparent;
}
  
.form-field:placeholder-shown ~ .form-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}
  
label,
.form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}
  
.form-field:focus ~ .form-label {
    color: var(--default-blue);
}
  
.form-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--default-blue);
}

@media only screen and (max-width: 320px) {
    .form-group {
        width: 80%;
    }
      
    .form-field {
        width: 80%;
    }
}

/* Form -- END */
/* Form -- END */
/* Form -- END */

/* Create -- Start */
/* Create -- Start */
/* Create -- Start */

.create-header {
    color: var(--default-blue);
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase; 
    text-align: center;

    padding-top: 75px;
}

.create-container {
    margin-top: 25px;
    margin-bottom: 5%;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.create-form-fast {
    padding: 5%;
}

.create-question {
    color: var(--default-blue);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 

    padding-top: 45px;
}

.create-answer {
    color: var(--gray);
    font-size: 14px;

    padding-top: -5px;
}

.create-note {
    color: var(--gray);
    font-size: 14px;

    padding-top: -5px;
}

.create-form-fast h3 {
    text-align: center;
    color: var(--gray);
}

.create-form-full {
    padding: 5%;
    background: var(--default-blue);
}

.create-form-full h3 {
    text-align: center;
    color: var(--white);
}

.create-container .form {
    padding: 10%;
}

.create-form-fast .create-btn-custom {
    color: var(--white);
    background-color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-color: var(--default-blue);
}

.create-form-fast .create-btn-custom:active {
    background-color: var(--hover-blue);
    border-color: var(--hover-blue);
}

.create-form-fast .create-btn-custom:hover {
    background-color: var(--hover-blue);
    border-color: var(--hover-blue);
}

.create-form-fast .create-btn-custom:focus {
    background-color: var(--hover-blue);
    border-color: var(--hover-blue);
}

.create-form-full .create-btn-custom {
    color: var(--default-blue);
    background-color: var(--white);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
    border-color: var(--white) !important;
}

.create-form-full .create-btn-custom:active {
    background-color: var(--hover-white);
}

.create-form-full .create-btn-custom:hover {
    background-color: var(--hover-white);
}

.create-form-full .create-btn-custom:focus {
    background-color: var(--hover-white);
}

.create-form-full .form-group {
    width: 100%;
    position: relative;
    padding: 15px 0 0;
    margin-top: -10px;
}
  
.create-form-full .form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.create-form-full .form-field::placeholder {
    color: transparent;
}
  
.create-form-full .form-field:placeholder-shown ~ .form-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}
  
.create-form-full label,
.create-form-full .form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: var(--white);
}
  
.create-form-full .form-field:focus ~ .form-label {
    color: var(--white);
}
  
.create-form-full .form-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--white);
}

@media only screen and (max-width: 320px) {
    .create-form-full .form-group {
        width: 80%;
    }
      
    .create-form-full .form-field {
        width: 80%;
    }
}

/* Create -- End */
/* Create -- End */
/* Create -- End */

/* Response -- Start */
/* Response -- Start */
/* Response -- Start */

.hide {
    display: none;
}

.success {
    padding-top: 5px;
    color: green !important;
    font-size: 14px !important;
}

.failure {
    padding-top: 5px;
    color: red !important;
    font-size: 14px !important;
}

.required {
    color: red;
    font-size: 14px;
}

/* Response -- End */
/* Response -- End */
/* Response -- End */

/* header -- Start */
/* header -- Start */
/* header -- Start */

.header {
    width: 100%;
}

.sentence {
    color: var(--default-blue);
    text-align: left;
    text-transform: uppercase;
    font-size: 42px;
    
    padding-top: 75px;
}

.slidingVertical {
	display: inline;
	text-indent: 8px;
}

.slidingVertical span {
	animation: topToBottom 10s linear infinite 0s;
	-ms-animation: topToBottom 10s linear infinite 0s;
    -webkit-animation: topToBottom 10s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    margin-left: -8px;
}

.slidingVertical span:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.slidingVertical span:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.slidingVertical span:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}

@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-20px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-20px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-20px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-20px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.header-btn-custom {
    color: var(--white);
    background-color: var(--default-blue);
    border-color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 

    margin-top: 53px;
}

.header-btn-custom:active {
    background-color: var(--hover-blue);
}

.header-btn-custom:hover {
    background-color: var(--hover-blue);
}

.header-btn-custom:focus {
    background-color: var(--hover-blue);
}

.header-img-container {
    margin-top: 88px;
    padding-bottom: 88px;
}

.image-container {
    position: relative;
}

.header-img-left {
    position: relative;
    max-width: 100%;
    height: auto;

    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);

    transition: ease-in-out 0.25s;
}

.header-img-right-top {
    position: relative;
    max-width: 100%;
    height: auto;

    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);

    transition: ease-in-out 0.25s;
}

.header-img-right-bottom {
    position: relative;
    max-width: 100%;
    height: auto;

    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.17);

    transition: ease-in-out 0.25s;
}

.header-img-left:hover { 
    transform: translateY(-1px);
}

.header-img-right-top:hover { 
    transform: translateY(-1px);
}

.header-img-right-bottom:hover { 
    transform: translateY(-1px);
}

.header-img-left-text {
    max-width: calc(100% - 15px);
    background-color: white;
    position: absolute !important;
    bottom: 5% !important;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.header-img-right-top-text {
    max-width: calc(100% - 15px);
    background-color: white;
    position: absolute !important;
    bottom: 5% !important;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.header-img-right-bottom-text {
    max-width: calc(100% - 15px);
    background-color: white;
    position: absolute !important;
    bottom: 5% !important;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 320px) {
    .sentence {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .header-img-right-top {
        margin-top: 25px;
    }
}

/* header -- End */
/* header -- End */
/* header -- End */
