.features-container {
  margin-top: 50px;
}

.feature-block {
  background-color: #0c5460;
}

.features-headline {
  font-size: 42px;
}

.feature-headline {
  font-size: 30px;
}

.feature-subline {
  font-size: 20px;
}
