<section class="d-flex bg-white" id="reasons-section">
  <div class="container d-flex justify-content-center">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 align-self-center">
        <div class="row">
          <div class="col-12 col-lg-7 mx-auto text-center margin-top">
            <h2 class="display-4 section-title">Gründe für Clerkvest</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <i class="material-icons">
                      hourglass_empty
                    </i>
                    <p class="text-info">EASY 2 USE</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <i class="material-icons">
                      build
                    </i>
                    <p class="text-info">FAST SETUP</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <i class="material-icons">
                      credit_card
                    </i>
                    <p class="text-info">COMPLETELY FREE</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <i class="material-icons">
                      code
                    </i>
                    <p class="text-info">OPEN SOURCE</p>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
