.header-container {
  height: 50%;
  width: 100%;

  background: linear-gradient(25deg, rgba(225,188,255,1) 0%, rgba(201,174,255,1) 19%, rgba(124,226,255,1) 100%);
}

.header-headline-container {
  width: 85%;
  height: 480px;
}

.header-headline {
  padding-top: 10%;
  margin-left: 10%;
  font-size: 60px;
}

.header-bold {
  font-weight: bolder;
}

.header-subline {
  font-size: 24px;
  margin-left: 10%;
}

@media only screen and (max-width: 500px) {

  .header-headline {
    padding-top: 15%;
    font-size: 36px;
  }

  .header-subline {
    font-size: 18px;
  }
}


@media only screen and (max-width: 400px) {
  .header-headline {
    font-size: 32px;
  }

  .header-subline {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .header-headline {
    padding-top: 35%;
    font-size: 24px;
  }

  .header-subline {
    font-size: 15px;
  }
}
