/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Kulim Park', Roboto, 'Helvetica Neue', sans-serif;
}

.btn-round {
  border-radius: 24px;
  font-size: 24px;
}

.center-text {
  width: 100%;
  text-align: center;
}
