<nav class="navbar navbar-lg navbar-light bg-light">
  <div class="navbar-brand-container">
    <div>
      <a class="navbar-brand navbar-brand-main" href="/">
        Clerkvest.
      </a>
    </div>
  </div>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle dropdown-button-border btn-outline-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="material-icons">person</i> Einloggen
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <div class="dropdown-menu-top">
        <a class="dropdown-item dropdown-item-header-link" href="employee-login">
          <i class="material-icons">account_box</i>
          Log-in für Angestellte
        </a>
        <div class="dropdown-item-subtext-container">
          <p class="dropdown-item-subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros ex, lacinia vel turpis sed, interdum hendrerit est. Fusce nec.
          </p>
        </div>
        <a class="dropdown-item dropdown-item-bottom-link" href="/employee-login">
          Einloggen <i class="material-icons">keyboard_arrow_right</i>
        </a>
      </div>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item dropdown-item-header-link" href="/company-login">
        <i class="material-icons">account_balance</i>
        Log-in für Unternehmen
      </a>
      <div class="dropdown-item-subtext-container">
        <p class="dropdown-item-subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros ex, lacinia vel turpis sed, interdum hendrerit est. Fusce nec.
        </p>
      </div>
      <a class="dropdown-item dropdown-item-bottom-link" href="/company-login">
        Einloggen <i class="material-icons">keyboard_arrow_right</i>
      </a>
    </div>
  </li>
</nav>
