<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm bg-white text-center">
  <a class="navbar-brand navbar-brand-if-small brand-text" href="#">Clerkvest<span class="brand-dot">.</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home-section">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reasons-section">Reasons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features-section">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-section">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-button-border btn-outline-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Einloggen
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div class="dropdown-menu-top">
            <a class="dropdown-item dropdown-item-header-link" href="employee-login">
              <i class="material-icons">account_box</i>
              Log-in für Angestellte
            </a>
            <div class="dropdown-item-subtext-container">
              <p class="dropdown-item-subtext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros ex, lacinia vel turpis sed, interdum hendrerit est. Fusce nec.
              </p>
            </div>
            <a class="dropdown-item dropdown-item-bottom-link" href="/employee-login">
              Einloggen <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-menu-top">
            <a class="dropdown-item dropdown-item-header-link" href="/company-login">
              <i class="material-icons">account_balance</i>
              Log-in für Unternehmen
            </a>
            <div class="dropdown-item-subtext-container">
              <p class="dropdown-item-subtext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros ex, lacinia vel turpis sed, interdum hendrerit est. Fusce nec.
              </p>
            </div>
            <a class="dropdown-item dropdown-item-bottom-link" href="/company-login">
              Einloggen <i class="material-icons">keyboard_arrow_right</i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

