<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm bg-white text-center">
  <a class="navbar-brand navbar-brand-if-small brand-text" href="#">Clerkvest<span class="brand-dot">.</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home-section">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features-section">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reasons-section">Reasons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-section">Contact</a>
      </li>
    </ul>
  </div>
</nav>

